/* Font */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

:root {
    font-family: 'GmarketSansMedium';
}

/* Layouts */
body {
    background-color: #5B2386;
    color: #FFFFFF;
    text-align: center;
}

/* Components */

/* Main */
.tit-timelaw {
    position: relative;
    height: 365px;
}

.img-title {
    position: absolute;
    inset: 0;
    margin: 194px auto 0 auto;
    width: 564px;
    height: 112px;
    z-index: 10;
    margin-top: 194px;
}

.img-clock {
    position: absolute;
    inset: 0;
    margin: 120px auto 0 auto;
    width: 261px;
    height: 265px;
    margin-top: 120px;
}

.txt-quo {
    margin: 66px 0 78px 0;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
}

.img-quo {
    position: relative;
    top: 50px;
}

.txt-desc {
    font-size: 18px;
    line-height: 30px;
}

.tit-desc {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.cont-inp {
    margin-top: 102px;
}

.btn {
    padding: 21px 49px;
    border-radius: 56px;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    line-height: 24px;
    color: #5B2386;
    cursor: pointer;
    background-color: #FCEE21;
}

.img-click {
    position: relative;
    top: 45px
}

.cont-result {
    margin-top: 147px;
}

.txt-wannabe {
    font-size: 24px;
    line-height: 24px;
}

.inp-txt {
    width: 228px;
    height: 57px;
    border-radius: 7px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}

.inp-txt:first-child {
    margin-bottom: 27px;
}

.inp-txt::placeholder {
    color: #BABCBE;
}

.txt-time {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 50px;
}

.cont-desc {
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;
    vertical-align: middle;
}

.btn.share {
    margin-left: 18px;
    background-color: #FFFFFF;
}

/* Footer */
.cont-footer {
    margin: 130px 0 80px 0;
}

.img-logo {
    display: block;
    margin: 0 auto 20px auto;
}

.txt-footer {
    font-family: 'Noto Sans KR';
    font-size: 12px;
    line-height: 17px;
}

/* Modal */
.cont-modal {
    display: none;
}